@use "../abstract" as a;

.announcement {
    width: 100%;
    height: a.$announcement-height;
    background-color: a.$purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

.announcement-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.announcement-link{
    text-decoration: none;
    color: a.$font-color-white;
}

