@use "../abstract" as a;

#home{
    width: 100vw;
    height: 100vh;
    background-color: a.$purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.clickMe{
    font-size: 5rem;
}