@use "../abstract" as a;

.wrapper{
    display: flex;
    flex-direction: column;
}

.trait{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: a.$font-color-white;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.separator{
    opacity: 0.6;
    border-color: #303030;
    border-style: solid;
    width: 100%;
    border-bottom-width: 1px;
}

.region{
    padding-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.25rem;
}

.h4{
    font-weight: 600;
    color: a.$font-color-white;
    opacity: 50%;
}

.input{
    border: 0px;
    height: 1px;
    width: 1px;
    position: absolute;
}

.button{
    cursor:pointer;
    height:4rem;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 0.5rem;
    background-color: white;
}

.radiogroup{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    background-color: #303030;
    border-radius: 0.5rem;
    padding:0.25rem
}