// *****************
// Color Variables
// *****************
$grey: #001220;
$black: #000000;
$purple: #424a7b;
$font-color-white: #ffffff;

$watch-filter-bg-color: #001220;
$watch-poap-bg-color: #001220;

$header-background-color: #0066FF;
$header-font-color: #fff;
$header-height: 4rem;

// *****************
// Break Points
// *****************
$breakpoint-header: 1024px;

// @media (max-width: $breakpoint-tablet) {

// }

// *****************
// Fonts
// *****************

//$font-light: "Gotham-Light", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
//$font-medium:
//$font-bold:

$font-medium: 500;

// *****************
// Other
// *****************

$announcement-height: 3vh;
$main-height: 97vh;


