@use "./abstract" as a;

.body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  
}

.main{
  padding-top: a.$header-height;
  width: 100vw;
  background-color: a.$grey;
}

.home{
  width: 100vw;
  height: 70vh;
  border-bottom: 1px;
  border-color: white;
  border-style: solid;

}
.container{
  width: 100vw;
  height: 35vh;
  border-bottom: 1px;
  border-color: white;
  border-style: solid;
  display: flex;
  align-items:center;
}

.h1{
  font-size: 2rem;
  color:white;
}