@use "./abstract" as a;

.main{
    position: relative;
    padding-top: a.$header-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



.button{
    color: a.$color-10;
    background-color: a.$color-30;
    border-radius: 0.5rem;
    opacity: .75;
    height: 3rem;
    width: 10rem;

    &:hover{
        opacity: 1;
    }

}