@use "./abstract" as a;

.main{
    padding-top: a.$header-height;
    width: 100vw;
    font-family: a.$font;
    color: a.$color-30;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
    

}

.underline{
    height: 1px;
    background-color: a.$color-30;
    width: 100%;
    margin-bottom: 1rem;
    margin-top:1rem;
}

.h1{
    font-size: 3rem;
    font-weight: 700;
}

.h2{
    font-size: 1.5rem;
    font-weight: 600;
}

.text{
    margin-top: 1rem;
}

.bold{
    font-weight: 600;
}